html {
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif; 
  font-size: 18px;
  color: white;
  margin: 0;
  text-align: center;
  background-color: #FF008C;
  display: flex;
  justify-content: center;
  align-items: center;
} 

h1 {
  font-family: "Lobster", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4em;
  margin-bottom: 2%;
}

h3{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 1%;
}

header p{
  margin-top: 0;
  font-size: .6em;
  margin-bottom: 10%;
}


.option{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10%;
}


#container {
  margin: 10% auto auto auto;
  width: 60vw;
  border: 10px solid rgb(255,142,0);
  padding: 10px;
  margin-top: 10%;
  margin-bottom: 5%;
}

#container h5{
  color: rgba(2,54,83);
}

button{
  font-family: 'Spartan', 'Futura', sans-serif; 
  color:  rgba(2,54,83);
}

#outPutDiv {
  color:rgba(2,54,83, 0.8);
  font-family: 'Spartan', 'Futura', sans-serif; 
}

#formResult{
  color:rgba(2,54,83, 0.8);
  font-size: 1.2em;
  margin-top: 5%;
  padding: 2%;
}

footer{
  margin-top: 5%;
  font-size: .6em;
}